.header{
  background-image: url('../images/bg/header.jpg');
}


.getintouch{
  background-image: url(../images/bg/header-2.jpg);
}

.reviews{
  background-image: url(../images/bg/reviews.jpg);
}

.col-md-offset-1-5{
    margin-left: 12.5%;
}

.header-sucesso{
  background-image: url('../images/bg/header-3.jpg');
}