{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name='description' content='Decoração de interiores e Consultoria 100% Online'>
   
    <meta name='keywords' content='decoração, decoração de aniversario, decoração de sala, decoração aniversario, decoração sala, decoração de casamento, decoração de festa, loja de decoração, comprar decoração online'>


	<title>DesignOn - Decoração e Consultoria 100% Online</title>

	<!-- Favicons -->
	<link rel="shortcut icon" href=" {% static 'favicon.png' %}">
   
    <link rel="apple-touch-icon" href=" {% static 'apple-touch-icon.png' %}">
    
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-touch-icon-72x72.png' %}">
    
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-touch-icon-114x114.png' %}">

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,200,100' rel='stylesheet'>
    
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/demo.css' %}" rel="stylesheet">
    
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    
    <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?37CfJsDkNi5k9JI2w5zxxtVVcVlEXCLt";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->
    
  </head>
<body>

	<!-- Loader

	<div id="loader" class="loader">
		<div class="cssload-bell">
			<div class="cssload-circle">
				<div class="cssload-inner"></div>
			</div>
			<div class="cssload-circle">
				<div class="cssload-inner"></div>
			</div>
			<div class="cssload-circle">
				<div class="cssload-inner"></div>
			</div>
			<div class="cssload-circle">
				<div class="cssload-inner"></div>
			</div>
			<div class="cssload-circle">
				<div class="cssload-inner"></div>
			</div>
		</div>
	</div>  -->

	<!-- Header -->

	<header id="header" class="header masked" data-stellar-background-ratio="0.6">
		<nav class="navbar">
		    <div class="container">
			   <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a href="#header" class="brand js-scroller">
			      	DesignOn
			      	<span class="circle"></span>
			      </a>
			    </div>
	       		<div class="navbar-collapse collapse" id="navbar-collapse">
		       		<ul class="nav navbar-nav navbar-right">
		       			<li>
		            		<a href="#header" class="js-scroller visible-xs">
		            			Home
		            		</a>
		            	</li>
		       			<li>
		            		<a href="#features" class="js-scroller">
		            			O que fazemos
		            		</a>
		            	</li>
		            	<li>
		            		<a href="#reviews" class="js-scroller">
		            			Depoimentos
		            		</a>
		            	</li>
		            	<li>
		            		<a href="#step-by-step" class="js-scroller">
		            			Como funciona
		            		</a>
		            	</li>
		            	<li>
		            		<a href="#showcase" class="js-scroller">
		            			Portifólio
		            		</a>
		            	</li>
		            	<li>
		            		<a href="#contacts" class="js-scroller">
		            			Contato
		            		</a>
		            	</li>
		        	</ul>  
	        	</div>   
		  	</div>
		</nav>
	    <div class="masthead rel-1">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1>
							Decoração e Consultoria <br/><strong>100% Online</strong>
						</h1>
						<p class="lead">Nunca foi tão fácil arrumar seus ambientes.</p>
						<p class="lead"><a href="#request" data-toggle="modal" class="btn">Solicite um orçamento</a></p>
					</div>
				</div>
			</div>
		</div>
	</header>

    <!-- Content-->

    <main class="content">
        
        
        
        <!-- Features -->

    	<section id="features" class="features section">
	  		<div class="container rel-1">
	  			<div class="row">
		  			<header class="text-center col-md-6 col-md-offset-3">
	  					<h2 class="section-title">Fazemos o que você procura</h2>
	  					<p class="text-muted">Dúvidas? deixe sua mensagem no chat.</p>
	  				</header>
				</div>
				<div class="section-content">
					<div class="row">
						<div class="col-feature col-sm-6 col-md-3 col-md-offset-1-5">
							<span class="icon icon-chat"></span>
							<div class="media-body">
								<h3>Consultoria</h3>
								<p class="text-muted">Bater um papo, tirar suas dúvidas e receber dicas de quem está por dentro do assunto.</p>
							</div>
						</div>
						<div class="col-feature col-sm-6 col-md-3">
							<span class="icon icon-layers"></span>
							<div class="media-body">
								<h3>Modelagem 3D</h3>
								<p class="text-muted">Lhe entregamos pespctivas em 3D do seu ambiente, ou também imagens renderizadas com melhor qualidade.</p>
							</div>
						</div>
						<div class="col-feature col-sm-6 col-md-3">
							<span class="icon icon-grid"></span>
							<div class="media-body">
								<h3>Planta baixa</h3>
								<p class="text-muted">Produzimos também plantas baixas humanizadas, pra facilitar seu entendimento na organização do seu espaço.</p>
							</div>
						</div>
                   
                    </div>
                    <div class="row">
                    
                    <div class="col-feature col-sm-6 col-md-3 col-md-offset-3">
							<span class="icon icon-lightbulb"></span>
							<div class="media-body">
								<h3>Planta Iluminotécnica</h3>
								<p class="text-muted">Projeto especificando as posições e os tipos de lâmpadas ideais para o seu ambiente.</p>
							</div>
						</div>
						
						<div class="col-feature col-sm-6 col-md-3">
							<span class="icon icon-expand"></span>
							<div class="media-body">
								<h3>Projeto de marcenaria</h3>
								<p class="text-muted">Criamos o seu móvel sob encomenda, que se encaxa perfeitamente com seu espaço.</p>
							</div>
						</div>
					</div>
				</div>
	  		</div>
		</section>
       
       <section id="reviews" class="reviews text-center text-white masked section" data-stellar-background-ratio="0.4">
	  		<div class="container rel-1">
	  			<div class="row">
	  				<header class="text-center col-md-6 col-md-offset-3">
	  					<span class="icon-header icon text-yellow icon-chat"></span>
		  				<h2 class="section-title">Depoimentos</h2>
	  				</header>
  				</div>
				<div class="review-carousel carousel">
					<div class="review carousel-item">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="review-author">
								Julie Banks,
								<span class="text-yellow">Company name</span>
							</h3>
  							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 		   incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<div class="review carousel-item">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="review-author">
								Julie Banks,
								<span class="text-yellow">Company name</span>
							</h3>
  							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 		   incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<div class="review carousel-item">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="review-author">
								Julie Banks,
								<span class="text-yellow">Company name</span>
							</h3>
  							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 		   incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
	  		</div>
		</section>
        
		<!-- Services -->

    	<section id="step-by-step" class="services section">
	  		<div class="container rel-1">
	  			<div class="row">
	  				<header class="text-center col-md-6 col-md-offset-3">
	  					<h2 class="section-title">Rápido, fácil e seguro</h2>
	  					<p class="text-muted">Rapidinho você pode ter várias alternativas de layout para o seu ambiente</p>
	  				</header>
				</div>
				<div class="section-content">
					<div class="row-baseline row">
		  			<div class="col-service col-baseline col-sm-6 col-md-3">
		  				<h3 class="letter-lg media-left">1</h3>
	  					<h3 class="service-name media-body">Solicite um Orçamento</h3>
	  					<p class="text-muted">Insira suas informações e nos envie uma solicitação de orçamento.</p>
	  				</div>
	  				<div class="col-service col-baseline col-sm-6 col-md-3">
		  				<h3 class="letter-lg media-left">2</h3>
	  					<h3 class="service-name media-body">Enviamos uma proposta</h3>
	  					<p class="text-muted">Iremos analisar os seus dados enviados e gerar a melhor proposta para você.</p>
	  				</div>
	  				<div class="col-service col-baseline col-sm-6 col-md-3">
		  				<h3 class="letter-lg media-left">3</h3>
	  					<h3 class="service-name media-body">Proposta aprovada</h3>
	  					<p class="text-muted">Depois de sua análise em nosso orçamento, agora é só aprovar e mão na massa. </p>
	  				</div>
	  				<div class="col-service col-baseline col-sm-6 col-md-3">
		  				<h3 class="letter-lg media-left">4</h3>
	  					<h3 class="service-name media-body">Reuniões pela web</h3>
	  					<p class="text-muted">Faremos uma reunião para estabelecer os parametros do projeto. <strong>Nesse ponto vamos decidir a melhor forma de pagamento para você.</strong></p>
	  				</div>
				</div>
                  <div class="row-baseline row">
		  			<div class="col-service col-baseline col-sm-6 col-md-3 col-md-offset-1-5">
		  				<h3 class="letter-lg media-left">5</h3>
	  					<h3 class="service-name media-body">Primeira proposta de layout</h3>
	  					<p class="text-muted">Lhe enviaremos a primeira proposta de layout do seu ambiente.</p>
	  				</div>
	  				<div class="col-service col-baseline col-sm-6 col-md-3">
		  				<h3 class="letter-lg media-left">6</h3>
	  					<h3 class="service-name media-body">Análise do cliente</h3>
	  					<p class="text-muted">Você analise a primeira proposta e nos retorna com as melhorias e ajustes. Lembre-se: queremos que fique a sua cara.</p>
	  				</div>
	  				<div class="col-service col-baseline col-sm-6 col-md-3">
		  				<h3 class="letter-lg media-left">7</h3>
	  					<h3 class="service-name media-body">Entrega do projeto final</h3>
	  					<p class="text-muted">Lhe entregaremos todos os serviços acordados no envio do orçamento.</p>
	  				</div>

				</div>
				</div>
	  		</div>
		</section>
		

		<!-- Get in touch -->

		<section class="getintouch text-white masked section-lg" data-stellar-background-ratio="0.1">
	  		<div class="container rel-1">
	  			<div class="row">
	  				<header class="text-center col-md-6 col-md-offset-3">
	  					<span class="text-yellow icon-header icon icon-heart"></span>
	  					<h2 class="section-title">Sua casa ou escritório do jeito que você sempre quis</h2>
	  					<p class="lead"><a href="#request" data-toggle="modal" class="btn">Solicite um orçamento</a></p>
	  				</header>
	  			</div>
	  		</div>
		</section>

		<!-- Showcase -->

		<div id="showcase" class="showcase section">
			<div class="container">
				<div class="row">
					<header class="text-center col-md-6 col-md-offset-3">
	  					<h2 class="section-title">Trabalhos recentes</h2>
	  					<p class="text-muted">Mais trabalhos postados em breve. Fique atento nas nossas redes sociais.</p>
	  				</header>
  				</div>
	  		</div>
			<ul class="filter list-unstyled">
				<li class="active"><a href="#" data-filter="*">Todos</a></li>
				<li><a href="#" data-filter=".3d">3D/Render</a></li>
				<li><a href="#" data-filter=".planta">Planta Baixa</a></li>
				<li><a href="#" data-filter=".movel">Móvel Planejado</a></li>
			</ul>
			<div class="container-fluid">
				<div class="row-showcase row-baseline row js-isotope">
					<div class="col-showcase col-baseline col-sm-6 col-md-4 3d js-isotope-item">
						<a href="{% static 'images/showcase/collage.jpg'%}" title="Escritório">
	  						<figure>
	  							<img alt="" src="{% static 'images/showcase/collage.jpg'%}">
	  							<figcaption>
		  							<div class="wrap">
			  							<header>
			  							</header>
		  							</div>
	  							</figcaption>
	  						</figure>
						</a>
						<span class="icon-showcase text-yellow icon icon-paperclip"></span>
					</div>
					<div class="col-showcase col-baseline col-sm-6 col-md-4 3d js-isotope-item">
						<a href="{% static 'images/showcase/collage_quarto1.jpg'%}" title="Quarto de Solteiro">
	  						<figure>
	  							<img alt="Quarto de Solteiro" src="{% static 'images/showcase/collage_quarto1.jpg'%}">
	  							<figcaption>
		  							<header>
		  							</header>
	  							</figcaption>
	  						</figure>
	  						<span class="icon-showcase text-yellow icon icon-paperclip"></span>
						</a>
					</div>
					<div class="col-showcase col-baseline col-sm-6 col-md-4 3d js-isotope-item">
						<a href="{% static 'images/showcase/collage_casal.jpg'%}" title="Quarto de Casal">
	  						<figure>
	  							<img alt="" src="{% static 'images/showcase/collage_casal.jpg'%}">
	  							<figcaption>
		  							<header>
		  							</header>
	  							</figcaption>
	  						</figure>
	  						<span class="icon-showcase text-yellow icon icon-paperclip"></span>
						</a>
					</div>
					<div class="col-showcase col-baseline col-sm-6 col-md-4 3d js-isotope-item">
						<a href="{% static 'images/showcase/collage_sala.jpg'%}" title="Sala de Estar">
	  						<figure>
	  							<img alt="" src="{% static 'images/showcase/collage_sala.jpg'%}">
	  							<figcaption>
		  							<header>
		  							</header>
	  							</figcaption>
	  						</figure>
	  						<span class="icon-showcase text-yellow icon icon-paperclip"></span>
						</a>
					</div>
					<div class="col-showcase col-baseline col-sm-6 col-md-4 3d js-isotope-item">
						<a href="{% static 'images/showcase/collage_cozinha.jpg'%}" title="Cozinha">
	  						<figure>
	  							<img alt="" src="{% static 'images/showcase/collage_cozinha.jpg'%}">
	  							<figcaption>
		  							<header>
		  							</header>
	  							</figcaption>
	  						</figure>
	  						<span class="icon-showcase text-yellow icon icon-paperclip"></span>
						</a>
					</div>
					<div class="col-showcase col-baseline col-sm-6 col-md-4 3d js-isotope-item">
						<a href="{% static 'images/showcase/collage_jantar.jpg'%}" title="Sala de Jantar">
	  						<figure>
	  							<img alt="" src="{% static 'images/showcase/collage_jantar.jpg'%}">
	  							<figcaption>
		  							<header>
		  							</header>
	  							</figcaption>
	  						</figure>
	  						<span class="icon-showcase text-yellow icon icon-paperclip"></span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Prices -->


		<!-- Reviews -->

		

		<!-- Contacts -->

		<section id="contacts" class="contacts section">
	  		<div class="container">
  				<div class="row">
	  				<header class="text-center col-md-6 col-md-offset-3">
	  					<h2 class="section-title">Entre em contato</h2>
	  					<p class="text-muted">Será um prazer ouvir suas críticas e sugestões</p>
	  				</header>
  				</div>
  				<div class="section-content text-center">
					<div class="row-baseline row">
						<div class="col-baseline conctact-col col-sm-6 col-md-4">
							<span class="icon text-purple icon-phone"></span>
							<p><strong>Whatsapp: </strong>84 98885-0704</p>
						</div>
						<div class="col-baseline conctact-col col-sm-6 col-md-4">
							<span class="icon  icon-envelope"></span>
							<p>designon@gmail.com</p>
						</div>
						<div class="visible-sm clearfix"></div>
						
						<div class="col-baseline conctact-col col-sm-6 col-md-4">
							<span class="icon  icon-globe"></span>
							<p>www.designon.arq.br</p>
						</div>
					</div>
				</div>
	  		</div>
            
		</section>

		<!-- Footer -->

		<footer class="footer bgc-primary">
			<div class="container">
				<div class="row">
					<div class="copyright col-sm-12 col-md-6">
						Copyright © DesignOn. All Rights Reserved.
					</div>
					<div class="social col-sm-12 col-md-6">
						<a href="#" class="icon icon-twitter"></a>
						<a href="#" class="icon icon-facebook"></a>
						<a href="#" class="icon icon-googleplus"></a>
						<a href="#" class="icon icon-dribbble"></a>
						<a href="#" class="icon icon-linkedin"></a>
					</div>
				</div>
			</div>
		</footer>
	</main>

	<!-- Modals -->

	<div id="request" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content bgc-light-gray">
            <div class="modal-header">
              <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
              <h2 class="modal-title">Insira algumas informações!</h2>
            </div>
            <div class="modal-body">
                <form class="form-request js-ajax-form" method='post'>
                 {% csrf_token %}
                  <div class="row-fields row">
                    <div class="form-group col-sm-6">
                        <input type="text" class="form-control" name="name" required placeholder="Seu Nome">
                    </div>
                     <div class="form-group col-sm-6">
                        <input type="email" class="form-control" name="email" required placeholder="Seu Email">
                      </div>
                       <div class="form-group col-sm-12">
                        <select name="tipo_ambiente" class="form-control" id="tipo_ambiente">
                            <option value="Escritorio">Escritório</option>
                            <option value="Sala">Sala</option>
                            <option value="Cozinha">Cozinha</option>
                            <option value="Quarto de Casal">Quarto de Casal</option>
                            <option value="Quarto de Solteiro">Quarto de Solteiro</option>
                            <option value="Casa Completa">Casa Completa</option>
                            <option value="Área Externa">Área Externa</option>
                        </select>
                      </div>
                      
                      <div class="form-group col-sm-12">
                          <p>Quais serviços você procura?</p><br/>
                
                <div class="form-group col-sm-6">
    <input type="checkbox" id='check_consultoria' name="servico" value="Consultoria"> 
    <label for="check_consultoria">Consultoria</label> <br/>
            
    <input type="checkbox" id='check_modelagem' name="servico" value="Modelagem">
     <label for="check_modelagem">Modelagem 3D</label> <br/>

    <input type="checkbox" id='check_planta_baixa' name="servico" value="Planta Baixa"> 
    <label for="check_planta_baixa">Planta Baixa</label>
                </div>
                
                <div class="form-group col-sm-6">
    <input type="checkbox" name="servico" id="check_planta_iluminotecnica" value="Planta Iluminotécnica"> 
    <label for="check_planta_iluminotecnica">Planta Iluminotécnica</label> <br/>
    
    <input type="checkbox" id="check_projeto_marcenaria" name="servico" value="Projeto de Marcenaria">
    <label for="check_projeto_marcenaria">Projeto
               
                 de Marcenaria</label>
                </div>
                </div>
                      
                       <div class="form-group col-sm-12">
                        <input type="number" class="form-control" name="size" required placeholder="Tamanho do Ambiente (M²)">
                      </div>
                    <div class="form-group col-sm-12">
                        <textarea class="form-control" rows="3" name="message" placeholder="Detalhes a acrescentar?"></textarea>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="btn">Enviar Solicitação</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
      </div>
    </div>

    <!-- Modal success -->

	<div id="success" class="modal modal-message fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
	        <h2 class="modal-title">Muito obrigado!</h2>
	        Lhe responderemos o mais rápido possível.
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal error -->

	<div id="error" class="modal modal-message fade" role="dialog">
	  <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
	          <h2 class="modal-title">Desculpa</h2>
	          Aconteceu algum erro. Tente novamente.
	        </div>
	      </div>
	  </div>
	</div>
	
	<script>
        
    </script>

	<!-- Scripts -->

	<script src="{% static 'js/jquery.min.js'%}"></script>
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<script src="{% static 'js/smoothscroll.js'%}"></script>
	<script src="{% static 'js/jquery.stellar.min.js'%}"></script>
	<script src="{% static 'js/isotope.pkgd.min.js'%}"></script>
	<script src="{% static 'js/imagesloaded.pkgd.js'%}"></script>
	<script src="{% static 'js/owl.carousel.min.js'%}"></script>
	<script src="{% static 'js/jquery.validate.min.js'%}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
	<script src="{% static 'js/main.js'%}"></script> 
	
	<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755049-1', 'auto');
  ga('send', 'pageview');

</script>
	

</body>
</html>